doctype html

html(lang="en")
    head
        meta(charset='utf-8')
        title Leaderboard
        meta(name='viewport', content='width=device-width, initial-scale=1')

    body
        ul
            each leaderboards_obj in leaderboards_trend
                li= leaderboards_obj.time
                    ul
                        each leaderboard_obj in leaderboards_obj.leaderboards
                            li= leaderboard_obj.id
                            ul
                                each user in leaderboard_obj.users
                                    div
                                        - console.log(JSON.stringify(user))
                                    li
                                        p #{user.id} #{user.name} #{user.score}