doctype html

html(lang='en')
    head
        meta(charset='utf-8')
        title Leaderboard
        meta(name='viewport', content='width=device-width, initial-scale=1')
        script(src='/listjs/list.js')
        script(src='https://code.jquery.com/jquery-2.1.1.min.js')
        script(src='/material-css/js/materialize.js')
        link(rel='stylesheet', href='http://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', href='/material-css/css/materialize.css' media='screen,projection')
        link(rel='stylesheet', href='/css/style.css')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
    body(class='teal lighten-5')
        div(class='card-panel teal')
            a(href='/leaderboards')
                h3(class='white-text') Leaderboard
            if leaderboard
                h6(class='white-text') #{leaderboard.name}
            else
                br

        div(class='row')
            div(class='col s3')
                div(id='leaderboards-list')
                    div(class='input-field')
                        input(id='leaderboard-search' placeholder='Filter' type='text' class='search')
                    div(class='list collection scrollbar')
                        each leaderboard_obj in leaderboards_obj
                            - var active_class = ''
                            if leaderboard
                                if leaderboard_obj.id == leaderboard.id
                                    - active_class = 'active'
                            a(class='collection-item card-panel ' + active_class href='/leaderboard/' + leaderboard_obj.id)
                                h5(class='name black-text') #{leaderboard_obj.name}
                                p(class='id id-text black-text' __id=leaderboard_obj.id) id=#{leaderboard_obj.id}
                script(src='/scripts/leaderboard.list.js')

            if leaderboard
                div(class='col s9 white scrollbar')
                    form(action='#')
                        br
                        p(class='range-field')
                            input(type='range' id='test5' min='0' max='100')
                    table(class='bordered')
                        thead
                            tr
                                th(style='width: 15%;') Position
                                th(style='width: 15%;') ID
                                th Name
                                th(style='width: 30%;') Score
                        each leaderboard_trend in leaderboard.trend
                            each user_score in leaderboard_trend.scores
                                tbody
                                    th #0
                                    th #{user_score.id}
                                    th #{user_score.name}
                                    th #{user_score.score}